@model DeliveryHouse.Common.Entities.Department

@{
    ViewData["Title"] = "Details Deparment";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<h1>Details</h1>

<div>
    <h4>Department</h4>
    <hr />
    <dl class="row">
        <dd>
            @if (string.IsNullOrEmpty(Model.Country.ImageCountry))
            {
                <img src="@Url.Content(Model.Country.ImageFullPath)" style="width: 200px; height: 200px; max-width: 100%; height: auto;" />
            }
            else
            {
                <img src="@Url.Content(Model.Country.ImageCountry)" style="width: 200px; height: 200px; max-width: 100%; height: auto;" />
            }
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CitiesNumber)
        </dt>
        <dd v+class="col-sm-10">
            @Html.DisplayFor(model => model.CitiesNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="AddCity" asp-route-id="@Model.Id" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Add City </a>
    <a asp-action="EditDepartment" asp-route-id="@Model.Id" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i> Edit Department</a>
    <a asp-action="Details" asp-route-id="@Model.IdCountry" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i> Back</a>
</div>
<br />

<div class="row">
    <div class="col-md-12">
        <div>
            <h3>Cities</h3>
        </div>
        <div>
            <table class="table table-hover table-responsive-md table-striped" id="MyTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cities.FirstOrDefault().StoresNumber)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Cities)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.StoresNumber)
                            </td>
                            <td>
                                <a asp-action="EditCity" asp-route-id="@item.Id" class="btn btn-success"><i class="glyphicon glyphicon-pencil"></i></a>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //$('#MyTable').DataTable();
            // Delete item
            sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Countries/DeleteCity/', false);
        });
    </script>
}